header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .myGrid(ui-grid="{ data: myData }")
